# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Node
node_modules/
frontend/node_modules/

# Build output (opsional, skip kalau mau upload hasil build)
# frontend/dist/

# Database
*.db
*.sqlite

# Log
*.log
